* {
    margin: 24;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: flex;
}

header {
    background-color: rgb(122, 121, 118);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header ul {
    list-style: none;
    display: flex;

}

header ul li+li {
    /*colocar espaço entre os links */
    margin-left: 24px;

}

header a {
    color: #ebebeb;
    text-decoration: none;
    /*tira o traço do link*/
    transition: color 0.2s;
}

header a :hover {
    color: #f13239;}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    background-color: rgb(134, 134, 134);
    padding: 10px;
}

h2.cadastroH2 {
    padding: 15px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none; 
}

section.login,
section.bichinho,
section.feedback {
    background-color: #e6e6e6; 
    padding: 15px; 
    margin-top: 15px;
    width: 20%; 
    height: 300px;
}

section.feedbackBlock {
    padding: 15px;
}

form {
    display: flex; 
    flex-direction: column; 
}

label {
    font-weight: bold; 
}

input[type="text"],
input[type="file"],
textarea {
    margin-bottom: 10px;  
}

button {
    background-color: #808080; 
    border: none;  
    color: white;  
    padding: 15px 32px;  
    text-align: center;  
    text-decoration: none;  
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    width: auto;
}

button:hover {
    background-color: #808080; /* mudar aq */
}

footer {
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
}

input#email {
    width: 100%;
    height: 100%;
}

textarea#feedback { 
    width: 100%;
    height: 100%;
}

div.separardofeedback {
    padding: 25px;
}