* {
    margin: 24px;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}

:root {
    --cor-princial: white;
    --cor-secundaria:rgb(151, 151, 151);
    --background-dark: rgb(59, 59, 59);
    --fonte-principal: Arial, sans-serif;

}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body.dark-mode {
    background-color: var(--background-dark);
}

form {
    width: flex;
}

header {
    background-color: var(--cor-secundaria);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header ul {
    list-style: none;
    display: flex;

}

header ul li+li {
    /*colocar espaço entre os links */
    margin-left: 24px;

}

header a {
    color: #ebebeb;
    text-decoration: none;
    /*tira o traço do link*/
    transition: color 0.2s;
}

header a :hover {
    color: #f13239;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    background-color: rgb(134, 134, 134);
    padding: 10px;
}

h2.cadastroH2
.cadastroDescrição {
    text-align: center;
}

h2.cadastroH2 {
    margin-top: 25px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none; 
}

section.loginContainer,
section.feedback {
    background-color: #e6e6e6; 
    padding: 15px; 
    margin-top: 6rem; 
    height: auto;
    max-width: 500px;
    width: 450px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

section.feedbackBlock {
    padding-top: 15px;
    margin-top: 10px;
}

form {
    display: flex; 
    flex-direction: column;
     
}

label {
    font-weight: bold; 
}

input[type="text"],
input[type="email"],
input[type="file"],
input[type="password"],
textarea {
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: none; 
    border-radius: 8px;
    flex-wrap: wrap;
}

input#nome {
    margin-top: 45px
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="file"]:hover,
input[type="password"]:hover,
textarea {
    border-color: rgb(113, 255, 255);
}

button {
    background-color: #808080; 
    border: none;  
    color: white;  
    padding: 15px 32px;  
    text-align: center;  
    text-decoration: none;  
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    width: auto;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
}

footer {
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
}


textarea#feedback 
textarea#descricaoBichinho { 
    width: 100%;
    height: 100%;
    width: 100px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: none;  
    resize: vertical;
    font-family: 'Courier New', Courier, monospace;
}

div.separardofeedback {
    padding: 25px;
}

div.espacinho {
    padding: 10px;
}

.containerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-right: 30rem;
}

.textFiller {
    text-align: center;
    padding: 10px;
    margin: 100px;
    padding-bottom: 33rem;
}

p.textFillerDesc {
    text-align: center;
}

.dark-mode {
    background-color: #333; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button#toggle-mode {
    width: auto;
    height: 5px;
  }