* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

header {
    background-color: rgb(122, 121, 118);
    display: flex;
    align-items: center;
    justify-content:  flex-end;
    height: 40px;
}
header ul {
    list-style: none;
    display: flex;

}
header ul li+li {
    margin-left: 24px;

}
header a {
    color: #ebebeb;
    text-decoration: none;
    transition: color 0.2s;
}

.dog {
    height: 400px;
    padding: 24px;
    background-image: url("/assets/photos/home-photo.png");
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.dog h1 {
    color: #ebebeb;
    font-size: 36px;
    
}

#porra {
    text-align: center;
}

h2{
    max-width: 1500px;
    margin: 10px auto;
    padding: 30px;
    margin-left: 100px auto;
}

.person{
   max-width: 1500px;
   margin: 25px auto;
   padding: 30px;
   border-radius: 5px;
   background-color: rgb(122, 121, 118);
   gap: 10px;

}

.nome{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.desc{

}

img{
    max-width: 100%;
    width: 20%;
    height: auto;
    display: flex;
    background-color: white;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.prof{
    transform: translateX(1155px);
}
