* {
    margin: 24;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

header {
    background-color: rgb(122, 121, 118);
    display: flex;
    align-items: center;
    justify-content:  flex-end;
}
header ul {
    list-style: none;
    display: flex;

}
header ul li+li {
    margin-left: 24px;

}
header a {
    color: #ebebeb;
    text-decoration: none;
    transition: color 0.2s;
}

.dog {
    height: 400px;
    padding: 24px;
    background-image: url("/assets/photos/home-photo.png");
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.dog h1 {
    color: #ebebeb;
    font-size: 36px;
    
}


div{
   max-width: 1500px;
   margin: 0 auto;
   padding: 30px;
   border-radius: 5px;
   background-color: rgb(122, 121, 118);

}

img{
    width: 30%;
    height: auto;
    display: block;
}



